/* Estilos CSS aqui */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.team {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-info img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.score {
  font-size: 7rem;
  margin: 20px 0;
}

.team-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.btn {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.selector-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#team1Image,
#team2Image {
  width: 100%; /* Aumentar a largura em 20% */

}

/* Estilos CSS para os botões Gol+ e Gol- */

/* Botão Gol+ */
.btn.increase {
  background-color: #4caf50; /* Cor de fundo verde */
  color: #fff; /* Cor do texto branco */
  border: none; /* Remova a borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 1.5rem; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  margin-right: 50px; /* Espaço à direita do botão Gol+ */
  

}

/* Estilizar o botão Gol+ ao passar o mouse */
.btn.increase:hover {
  background-color: #45a049; /* Cor de fundo mais escura ao passar o mouse */
}

/* Botão Gol- */
.btn.decrease {
  background-color: #f44336; /* Cor de fundo vermelha */
  color: #fff; /* Cor do texto branco */
  border: none; /* Remova a borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 1.5rem; /* Tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  margin-right: 10px; /* Espaço à direita do botão Gol+ */
  margin-left: 50px; /* Altere o valor conforme necessário */
  
}


/* Estilizar o botão Gol- ao passar o mouse */
.btn.decrease:hover {
  background-color: #d32f2f; /* Cor de fundo mais escura ao passar o mouse */
}





/* Adicione este código CSS ao seu arquivo de estilo (style.css) */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Cor de fundo do footer */
  color: #fff; /* Cor do texto do footer */
  text-align: center;
  padding: 10px 0; /* Espaçamento interno do footer */
}

/* Estilos para o link dentro do footer */
footer a {
  color: #fff; /* Cor do link no footer */
  text-decoration: none; /* Remove a decoração padrão do link */
}

/* Estilos CSS para todos os dispositivos */

/* Estilos CSS para todos os dispositivos */

/* Regra de media query que se aplica a todas as larguras de tela */
@media screen and (max-width: 768px) {

  h1 {
    font-size: 1.5rem; /* Tamanho de fonte ajustado para dispositivos móveis */
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    overflow-y: hidden; /* Oculta a barra de rolagem vertical */

  }

  .container {
    position: relative; /* Altere para position: relative; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }

  /* Restante do seu CSS permanece inalterado */
  
  footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto do footer */
    text-align: center;
    padding: 10px 0; /* Espaçamento interno do footer */
    position: fixed; /* Alterado para position: fixed */
    bottom: 0;
    width: 100%;
    z-index: 9999; /* Certifique-se de que o footer esteja acima de outros elementos */
  }
  
  /* Estilos para o link dentro do footer */
  footer a {
    color: #fff; /* Cor do link no footer */
    text-decoration: none; /* Remove a decoração padrão do link */
  }

}

/* Estilos para dispositivos móveis e telas com largura menor que 400px */
@media screen and (max-width: 420px) {
  .btn.increase,
  .btn.decrease {
    font-size: 1rem; /* Reduza o tamanho da fonte dos botões Gol+ e Gol- */
    padding: 4px 10px; /* Reduza o espaçamento interno dos botões Gol+ e Gol- */
  }

  h1 {
    font-size: 1.2rem; /* Tamanho de fonte ajustado para dispositivos móveis */
  }
}
