body {
    font-family: Arial;
    text-align: center;
    color:rgb(92, 88, 88);
    background-color: rgb(255, 255, 255);
}

/* Estilos para o modo noturno */
body.night-mode {
    background-color: black;
    color: white;
}

#night-mode-btn {
    font-size: 1.0rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#night-mode-btn:hover {
    background-color: #555;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(92, 88, 88);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

ul li a {
    color:rgb(165, 159, 159);

}

h1 {
    font-size: 31px;
}

footer {
    padding: 20px;
    border-bottom: 1px rgb(92, 88, 88);;
}
