/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

/* Estilos para cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1, h2, h3, p, .ticket-list, .professor-list, .course-content, .certificado-list, nav a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px; /* Espaçamento geral para melhor legibilidade */
}

h1 {
    font-size: 36px;
    color: #eeeff0;
}

h2 {
    font-size: 28px;
    color: #1e293b;
}

h3 {
    font-size: 24px;
    color: #1e293b;
}

p, .ticket-list, .professor-list, .course-content, .certificado-list, nav a {
    font-size: 18px; /* Ajuste o tamanho da fonte para melhor legibilidade */
    color: #1e293b;
}

/* Estilos para lista de tickets */
.ticket-list {
    list-style: none;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 40px;
}

.ticket-list li {
    margin-bottom: 10px;
    position: relative;
}

.ticket-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

/* Estilos para imagens */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Estilos para lista de professores e conteúdo do curso */
.professor-list, .course-content {
    margin-left: 30px;
    margin-right: auto;
    padding: 30px;
}

/* Estilos para botões de chamada para ação (CTA) */
.cta-button {
    display: block;
    background-color: #FF5722;
    color: white;
    padding: 15px 20px; /* Ajuste de padding para melhor espaçamento */
    border: none;
    border-radius: 5px;
    font-size: 21px;
    cursor: pointer;
    margin: 20px auto; /* Ajuste de margem para melhor espaçamento */
    text-align: center;
    width: fit-content;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #027005;
    transform: scale(1.1);
}

/* Estilos para lista de perguntas frequentes */
.faq-list {
    margin-left: 30px;
    margin-right: auto;
    padding: 30px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-weight: bold;
    margin-bottom: 10px;
}





/* Estilo responsivo para dispositivos móveis */
@media (max-width: 540px) {
    .video-container {
        text-align: center;
        padding: 0 20px; /* Adiciona espaços laterais de 20px */
    }
    .video-container iframe {
        width: 100%; /* Ocupa a largura total do elemento pai */
        max-width: 100%; /* Evita que o vídeo se estenda além do viewport */
        height: auto; /* Mantém a proporção de aspecto */
    }
}

/* Estilo responsivo para tamanhos pequenos de viewport */
@media (max-width: 768px) {
    .video-container {
        text-align: center;
        padding: 0 30px; /* Adiciona espaços laterais de 30px */
    }
    .video-container iframe {
        width: 100%; /* Ocupa a largura total do elemento pai */
        max-width: 100%; /* Evita que o vídeo se estenda além do viewport */
        height: auto; /* Mantém a proporção de aspecto */
    }
}

