.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
}

body {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 21px;
    background-color: rgb(238, 243, 245);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
th, td {
    padding: 5px;
}