body {
    font-family: Arial;
    text-align: center;
    color:rgb(253, 250, 245);
    background-color: black;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(219, 214, 214);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

ul li a {
    color:#fff;

}

h1 {
    font-size: 31px;
}

footer {
    padding: 20px;
    border-bottom: 1px rgb(219, 214, 214);
}
