body {
    font-family: "Arial", sans-serif;
    margin: 30px;
  }
  
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    font-size: 36px;
    color: #1e293b;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    font-size: 28px;
    color: #1e293b;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #1e293b;
    text-align: center;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  p,
  .ticket-list,
  .professor-list,
  .course-content,
  .certificado-list,
  nav a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 21px;
    color: #1e293b;
  }
  
  .ticket-list {
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .ticket-list li {
    margin-bottom: 10px;
    position: relative;
  }
  
  .ticket-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .cta-button {
    display: block;
    background-color: #ff5722;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    cursor: pointer;
    margin: 20px auto;
    margin-bottom: 40px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cta-button:hover {
    background-color: #027005;
    transform: scale(1.1);
  }
  
  .top-menu {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .top-menu nav li {
    margin-right: 30px;
  }
  
  .top-menu nav a {
    color: white;
    text-decoration: none;
  }
  
  .logo img {
    max-width: 180px;
    height: auto;
    margin-left: 20px;
  }
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-bottom: 15px;
  }
  
  .footer {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
  }
  
  @media (max-width: 768px) {
    body {
      margin: 10px; /* Reduzir as margens para economizar espaço */
    }
  
    h1 {
      font-size: 24px; /* Reduzir o tamanho da fonte para h1 */
      margin-top: 21px;
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 20px; /* Reduzir o tamanho da fonte para h2 */
      margin-top: 5px;
      margin-bottom: 5px;
    }
  
    h3 {
      font-size: 20px; /* Reduzir o tamanho da fonte para h3 */
    }
  
    .video-container {
      height: auto; /* Ajustar altura para o conteúdo */
    }
  
    p,
    .ticket-list,
    .professor-list,
    .course-content,
    .certificado-list,
    nav a {
      font-size: 20px; /* Reduzir o tamanho da fonte para o texto principal */
    }
  
    .cta-button {
      padding: 10px 15px; /* Reduzir o espaçamento do botão */
      font-size: 21px;
    }
  
    .top-menu nav ul {
      display: none; /* Esconder o menu principal */
    }
  
    .logo img {
      max-width: 120px; /* Reduzir o tamanho do logo */
    }

    .ticket-list li {
      margin-bottom: 20px; /* Aumentar o espaçamento vertical entre os itens da lista */
    }
  
    .cta-button {
      margin: 20px auto;
      margin-bottom: 30px; /* Aumentar o espaçamento inferior do botão */
    }
  
    .top-menu nav li {
      margin-right: 20px; /* Aumentar o espaçamento entre os itens do menu */
    }
  }
  
